<div id="results-div">
	<div>
		<div class="col-sm-2 col-md-2 col-lg-2"></div>
		<div class="col-sm-8 col-md-8 col-lg-8">
			<p id="results">
				<%= @game.winner.upcase %><br/>
				WINS!
			</p><br/>
			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-6">
					<%= link_to "DEAL AGAIN", root_path, :class => "btn btn-lg deal-again" %>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-6">
					<%= link_to "STATISTICS", statistics_games_path, :class => "btn btn-lg statistics" %>
				</div>
			</div>
		</div>
		<div class="col-sm-2 col-md-2 col-lg-2"></div>
	</div>
</div>