<div id="start-div">
	<div>
		<div class="col-sm-2 col-md-2 col-lg-2"></div>
		<div class="col-sm-4 col-md-4 col-lg-4" id="dealer-div">
			<div>
				<h3>DEALER</h3><br/>
				<h5>SCORE: <%= @game.dealer_score %></h5><br/>
				<ul>
					<% @dealer_cards.each do |card| %>
						<%= render "card", card: card %>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4" id="user-div">
			<div>
				<h3 id="user-header">USER</h3><br/>
				<h5>SCORE: <%= @game.user_score %></h5><br/>
				<ul>
					<% @user_cards.each do |card| %>
						<%= render "card", card: card %>
					<% end %>
				</ul>
			</div><br/>
			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-6">
					<%= link_to "PICK A CARD", pick_a_card_game_path(@game), :class => "btn btn-md btn-success" %>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-6">
					<%= link_to "SKIP", skip_game_path(@game), :class => "btn btn-md btn-danger" %>
				</div>
			</div>
		</div>
		<div class="col-sm-2 col-md-2 col-lg-2"></div>
	</div>
</div>