<div id="statistics-div">
	<h1>STATISTICS</h1><br/>
	<table class="table" id="statistics-table">
		<thead>
			<tr>
				<td style="border-left: 1px transparent !important"></td>
				<% count = 1%>
				<% for game in @games %>
					<td class="game-sl">GAME <%= count %></td>
					<% count += 1 %>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td id="dealer-td" style="border-left:1px transparent !important">DEALER</td>
				<% for game in @games %>
					<td class="<%= get_dealer_class(game) %>"><%= game.dealer_score %></td>
				<% end %>
			</tr>
			<tr>
				<td id="user-td" style="border-left: 1px transparent !important">USER</td>
				<% for game in @games %>
					<td class="<%= get_user_class(game) %>"><%= game.user_score %></td>
				<% end %>
			</tr>
		</tbody>
	</table>
	<br/>
	<%= link_to "DEAL AGAIN", root_path, :class => "btn btn-lg btn-success" %>
</div>