<div id="welcome-div">
	<div>
		<div class="col-sm-2 col-md-2 col-lg-2"></div>
		<div class="col-sm-8 col-md-8 col-lg-8">
			<h1>WELCOME</h1><br/>
			<%= link_to "START", start_games_path, :class => "btn btn-lg" %>
		</div>
		<div class="col-sm-2 col-md-2 col-lg-2"></div>
	</div>
</div>