#dealer-div h3, #user-div h3{
	height: 44px;
	width: 100%;
	border-radius: 5px;
	color:white;padding: 8px;
	text-align: center;
}

#dealer-div h3{
	background: #66b4ff;
}

#user-div h3{
	background: #cc00cc;
}

#dealer-div li, #user-div li{
    border-radius: 5px;
    color: #fff;
    height: 30px;
    padding: 10px;
    text-align: center;
    width: 30px;
    margin: 0px 3px 0px 0px;
    display: inline;
}

#dealer-div li, #user-div li{
    background: none repeat scroll 0 0 #66b4ff;
}

#user-div li {
    background: none repeat scroll 0 0 #cc00cc;
}

#dealer-div ul, #user-div ul{
	padding-left: 0px !important;
}

a{
	width: 100%;
	font-weight: bold !important;
	color: #fff;
}

#welcome-div, #results-div, #statistics-div{
	text-align: center;
}

#welcome-div a{
	background: #ff4500;
}

#welcome-div a:focus, #welcome-div a:hover{
	background: #cc3700;
}

#results-div a.deal-again{
	background: #df7020;
}

#results-div a.deal-again:focus, #results-div a.deal-again:hover{
	background: #c9641d;
}

#results-div a.statistics{
	background: #FFD700;
}

#results-div a.statistics:focus, #results-div a.statistics:hover{
	background: #e6c200;
}

#results{
	background: none repeat scroll 0 0 #ea1540;
    border-radius: 13px;
    color: #fff;
    font-weight: bold;
    height: 130px;
    margin: 32px;
    padding-top: 50px;
    text-align: center;
}

#dealer-td{
	color: #00BFFF;
	font-weight: bold;
}

#user-td{
	color: #BA55D3;
	font-weight: bold;
}

#statistics-div td{
	border-top: none !important;
	border-left: 1px solid #999999 !important;
	font-weight: bold;
}

.game-sl{
	color: #daa520;
	font-weight: bold;
}

.won{
	color: #00cc00;
}

.lost{
	color: #999999;
}

h1{
	color: #999999;
}

#statistics-div a{
	width: 50% !important;
}

#start-div li{
	font-weight: bold;
	list-style: none;
}

.table{
	width: auto !important;
}

#start-div h5{
	color: #999999;
}

.btn:hover, .btn:focus{
	color: #fff;
}