<!DOCTYPE html>
<html>
<head>
<title>Blackjack</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="row">
		<div class="col-sm-2 col-md-2 col-lg-2"></div>
		<div class="col-sm-8 col-md-8 col-lg-8" id="main-div">
			<%= yield %>
		</div>
		<div class="col-sm-2 col-md-2 col-lg-2"></div>
	</div>
</body>
</html>
